html,body{
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

body{
    display: grid;
    grid-template-columns: 150px 50px auto 50px 150px;
    grid-template-rows: 50px 300px auto min-content;
}

header{
    grid-column-start: 1;
    grid-column-end:  6;
    grid-row: 1;

    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color: darkgrey;
}

header a{
    text-align: center;
    padding:10px 10px;
    background-color: darksalmon;
}

footer{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 4/5;

    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: darkgrey;
}

footer h2{
    text-align: center;

}


.pilt{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 2;
    background-image:url("../img/disc_avaleht.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size:cover; 
}
.container{
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row: 3/4;
}
